<!DOCTYPE HTML>
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Josefin+Sans|Lobster" rel="stylesheet">
	
	<link rel="stylesheet" href="views/css/styleError.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ESP8266 WebSocket</title>
</head>
<body style="background-image:url('views/image/bgError.png')">
	<h1>Sai thông tin đăng nhập</h1>
	<a href="login">back to login</a>
</body>
</html>