<!DOCTYPE HTML>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="views/css/styleLogin.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login To System</title>
	</head>
	<body style="background-image:url('views/image/iotbg5.jpeg')">
		<div class="login-form">
			<h1>Điền thông tin đăng nhập hệ thống</h1>
			<form action="auth" method="POST">
				<input type="text" name="username" placeholder="Username" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit" value="Đăng nhập">
			</form>
		</div>
	</body>
</html>