<!DOCTYPE HTML>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="views/css/styleLogin.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login To System</title>
	</head>
	<body style="background-image:url('views/image/update.png')">
		<div class="login-form">
			<h1>Cập nhật mật khẩu tài khoản</h1>
			<form action="update" method="POST">
				<input type="password" name="oldPassword" placeholder="Nhập mật khẩu cũ" required>
				<input type="password" name="newPassword" placeholder="Nhập mật khẩu mới" required>
				<input type="submit" value="Cập nhật">
			</form>
		</div>
	</body>
</html>